input_videos
output_images
output_videos
cropped_images
datasets
runs
temp_stream.mp4
utils/__pycache__
.venv
data/license_plates/*
# Database files
*.db
*.sqlite
*.sqlite3
data/*.db
data/*_backup_*.db
scripts/__init__.py
scripts/__pycache__
tests/__init__.py
tests/__pycache__
app/__pycache__
app/routers/__init__.py
app/routers/__pycache__
app/services/__init__.py
app/services/__pycache__
app/utils/__init__.py
app/utils/__pycache__
app/dependencies/__init__.py
app/dependencies/__pycache__
config/__pycache__
config/__init__.py
.env
tests/output
venv
train/videos/*
train/dataset/images/*
data/enhanced_plates/*
data/license_plates/*
logs/*
app/factories/__pycache__/*
app/repositories/__pycache__/*
data/videos/*
app/repositories/__pycache__/sql_repository.cpython-312.pyc
